* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	-webkit-transition:  all .7s ease;
	-o-transition:  all .7s ease;
	transition: all .7s ease;
}
body.switchMode{

	background-color: #000;
}


.container {
	max-width: 1200px;
	margin: 0 auto;
	padding:0 15px;
}
header {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.header_head {
	position: relative;
	background-color: #d61b3d;
}

body.switchMode .header_head {
	background-color: #34bf24;
	
}

body.switchMode .header_head nav ul li a {
	color: #000;
	font-weight: bold;
}

body.switchMode .head_inner .logo {
	color: #000;
}

.head_inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.head_inner .logo {
	font-weight: bold;
	font-size: 18px;
	color: #ccc;
}

.head_inner nav ul {
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.head_inner nav ul li{
	list-style-type: none;

}

.head_inner nav ul li a {
	font-size: 14px;
	color: #ccc;
	display: inline-block;
	padding: 20px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: background .1s linear;
}


.head_inner nav ul li.switch a {
	position: relative;
	width: 45px;
	height: 24px;
	border: 1px solid #ccc;
	border-radius: 10em;
	padding: 0;
	margin-top: 5px;
	overflow: hidden;
}

.head_inner nav ul li.switch a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	background-color: #fff;
	border-radius: 10em;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

body.switchMode .head_inner nav ul li.switch a:after {
	left: 20px;

}

.header_body {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 150px;
}

.header_body_inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	width: 100%;

}



.about_usn_title {
	color: #d61b3d;
}

.about_text {
	color: #fff;
	padding: 10px;
	background: #d61b3d;
	border-radius: 20px;
}



#coder {
	height:400px;
	width: 500px;
}

.header_body_inner .left {
	color: #333;
	font-size: 46px;
	-webkit-transition: all .5s ease;
	-o-transition:  all .5s ease;
	transition:  all .5s ease;
}
.header_body_inner .title {
	color: #333;
	font-size: 46px;
	-webkit-transition: all .5s ease;
	-o-transition:  all .5s ease;
	transition:  all .5s ease;
}
body.switchMode .header_body_inner .title {
	color: #fff;
}

.header_body_inner .right {
	color: #333;
	font-size: 46px;
	-webkit-transition: all .5s ease;
	-o-transition:  all .5s ease;
	transition:  all .5s ease;
}

.header_body_inner .left .title span {
	color: #f83b3a;
}

a.btn {
	display: inline-block;
	background-color: #f83b3a;
	color: #fff;
	padding: 15px 30px;
	text-decoration: none;
	margin-top: 20px;
	border-radius: 2px;
}

.header_body_inner .right #cod{
	height: 400px;
	width: 500px;
	border-radius: 40%;
}

section {
	position: relative;
	padding: 20px 0;
	width: 100%;
	height: 100vh;
}
.section_title {
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #d61b3d;
	text-align: center;
}
body.switchMode .section_title {
	color: #34bf24;
}

body.switchMode .about_text  p{
	color: #fff;
}

.about_text {
	margin-top: 45px;

}

.about_text p {
	font-size: 30px;
	margin-bottom: 25px;
}

.about_using_title {
	margin-top: 45px;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}

.about_using {
	height: 300px;
	margin-top: 45px;
	display: flex;
	border: 4px solid #C5C5C5;
}

.about_using_content {
	display: flex;
	justify-content: space-around;
	margin-left: 20px;
}

.html {
	max-height: 70px;
}

.css {
	margin-left: 35px;
}

.js {
	margin-left: 35px;
}

.jQ {
	margin-left: 35px;
}

.title_us {
	font-weight: bold;
	text-align: center;
}

img {
	display: flex;
	align-items: center;
	width: 90px;
	height: 90px;
}

.popup {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0, 0.8);
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
}
.popup_body {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;

}

.popup_content {
	background-color: #d61b3d;
	color: rgb(255, 255, 255);
	min-height: 300px;
	max-width: 800px;
	border-radius: 20px;
	padding: 30px;
	position: relative;
}

body.switchMode .popup_content {
	background-color: #34ad26;
}

.ssa {
	color: rgb(17, 220, 48);
}

.popup_title {
	text-align: center;
	font-size: 40px;
	margin: 0px 0px 1em 0px;
}

.popup_close  {

	position: absolute;
	right: 10px;
	top: 10px;
}

#aa {
	font-size: 19px;
	opacity: 0.7;
	text-decoration: none;
	color: #000;
}

#aa:hover {
	font-size: 21px;
	opacity: 1;
}

.popup:target {
	opacity: 1;
	visibility: visible;
}
.popup_text {
	font-size: 30px;
}

a {
	color: #001eff;
	text-decoration: none;
}





.about_usn_title{
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	margin-top: 45px;
}

.about_usn_content {
	margin-top: 50px;
	display: flex;
	flex-direction: space-between;
	justify-content: center;

}

.html_title {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

.css_title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
}

.js_title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
}
.jQ_title {
	font-size: 20px;
	font-weight: bold;
}

body.switchMode .css {
	background: #34bf24;
}

body.switchMode .js {
	background: #34bf24;
}

body.switchMode .css {
	background: #34bf24;
}

body.switchMode .sql {
	background: #34bf24;
}





body.switchMode .php {
	color: #fff;
	background: #34bf24;
}
body.switchMode .php_content {
	color: #fff;
}

body.switchMode .php_title {
	color: #fff;
}

body.switchMode .Jq {
	color: #fff;
	background: #34bf24;
}

body.switchMode .html_cont {
	color: #fff;
	background: #34bf24;
}

body.switchMode .html_title {
	color: #fff;
	background: #34bf24;
}


.html_cont {
	color: #fff;
	width: 400px;
	border-radius: 15px;
	height: 250px;
	background-color: #d61b3d;
	margin-top: 15px;
	padding: 20px;

}

p {
	font-family: 'Oswald', sans-serif;
	font-family: 'Ubuntu', sans-serif;
}

.css {
	color: #fff;

	height: 250px;
	border-radius: 15px;
	background-color: #d61b3d;
	margin-top: 15px;
	padding: 20px;

}
.ots {
	height: 100px;
	background: #000;
	margin-top: 700px;
}

.php_title {
	color: #fff;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

.php_content {
	color: #fff;
	height: 150px;
	margin-top: 30px;
}

.sql_title {
	color: #fff;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

.sql_content {
	color: #fff;
	height: 150px;
	margin-top: 30px;
}

.sql {
	margin-left: 30px;
	width: 320px;
	border-radius: 15px;
	background-color: #d61b3d;
	margin-top: 15px;
	padding: 20px;
}

.php {
	margin: 0;
	width: 400px;
	border-radius: 15px;
	background-color: #d61b3d;
	margin-top: 15px;
	padding: 20px;
}

.js {
	color: #fff;
	margin: 0;
	width: 400px;
	border-radius: 15px;
	background-color: #d61b3d;
	margin-top: 15px;
	padding: 20px;

}



.Jq {
	color: #fff;
	margin-left: 33px;
	width: 320px;
	border-radius: 15px;
	height: 250px;
	background-color: #d61b3d;
	margin-top: 15px;
	padding: 20px;

}

.abb2 {
	display: flex;
	justify-content: center;
}

.abb3 {
	display: flex;
	justify-content: center;
}

p {
	display: flex;
	justify-content: center;
}



.html_title{
	margin-bottom: 20px;
	text-align: center;
}
.css_title {
	color: #fff;
	margin-bottom: 20px;
	text-align: center;
}

.js_title {
	color: #fff;
	margin-bottom: 20px;
	text-align: center;
}

.jQ_title {
	margin-bottom: 20px;
	text-align: center;
}

body.switchMode .about_usn_title {
	color: #34bf24;
}

body.switchMode a.btn {
	background: #34bf24;
}

body.switchMode .about_text {
	background: #34bf24;
}

body.switchMode .header_body_inner .left .title span {
	color: #34bf24;
}

.about_usn_content {
	font-size: 19px;
	font-family: "Oswald" , sans-serif ;
}

.abb2 {
	font-size: 19px;
	font-family: "Oswald" , sans-serif ;

}
.abb3 {
	font-size: 19px;
	font-family: "Oswald" , sans-serif ;

}



@media only screen and (max-width: 830px) {


	.header_body_inner .right #cod {
		height: 250px;
		width: 300px;
	}
	.header_body_inner .title {
		font-size: 34px;
	}

	a.btn {
		font-size: 34px;
	}
}


@media only screen and (max-width: 562px) {
	a.btn {
		font-size: 16px;
	}
	.header_body_inner .title {
		font-size: 20px;
	}
	.header_body_inner .right #cod {
		margin-left: 20px;
		width: 150px;
		height: 125px;
	}
	.head_inner nav ul li a {
		font-size: 10px;
		padding: 10px 10px;
	}
	.head_inner .logo {
		font-size: 15px;
	}

	.head_inner nav ul li.switch a {
		width: 35px;
		height: 14px;
	}
	.head_inner nav ul li.switch a:after{
		width: 14px;
		height: 14px;
	}
	.Jq {
		height: 202px;
		padding: 20px;
		width: 187px;
	}
	.js {
		width: 160px;
	}
	.about_text p {
		font-size: 19px;
	}
	.section_title {
		font-size: 26px;
	}

	.about_usn_content {
		font-size: 12px;
	}
	.abb2 {
		font-size: 12px;
	}

	.about_usn_title {
		font-size: 26px;
	}

	.html_title {
		font-size: 14px;
	}

	.css_title {
		font-size: 14px;
	}

	.js_title {
		font-size: 14px;
	}

	.jQ_title {
		font-size: 14px;
	}

}


@media only screen and (max-width: 401px) {
	.about_usn_content {
		font-size: 12px;
	}
	.abb2 {
		display: flex;
		flex-direction: space-between;
		font-size: 12px;
	}

	.html_cont {
		height: 180px;
	}

}

@media only screen and (max-width: 396px) {
	.about_usn_content {
		
		font-size: 12px;
	}

	.abb2 {
		margin-top: 40px;
		font-size: 12px;
	}
	.abb3 {
		margin-top: 40px;
		font-size: 11px;
	}

	.ots {
		margin-top: 300px;
	}

	.js {
		width: 161px;
		height: 199px;
		font-size: 13px;
		padding: 10px;
	}

	.php {
		width: 161px;
		height: 199px;
		font-size: 13px;
		padding: 10px;
	}

	.sql {
		width: 161px;
		height: 199px;
		font-size: 13px;
		padding: 10px;
	}

	.php_title{
		font-size: 14px;
	}

	.sql_title {
		font-size: 14px;
	}

	.css {
		width: 161px;
		height: 199px;
		font-size: 13px;
		padding: 10px;
	}
	.html_cont {
		width: 161px;
		height: 199px;
		font-size: 13px;
		padding: 10px;
	}
	.Jq {
		width: 161px;
		height: 199px;
		font-size: 13px;
		padding: 10px;
	}
	.header_body_inner .right #cod {
		width: 157px;
		height: 124px;
	}
	.head_inner .logo {
		font-size: 12px;
	}
	.head_inner nav ul li a {
		font-size: 8px;
	}
	.about_text p {
		font-size: 16px;
	}

	.head_inner nav ul li a {
		font-size: 11px;
		padding: 19px;
	}

	.head_inner nav ul li.switch a:after {
		width: 21px;
		height: 23px;
	}

	.head_inner nav ul li.switch a {
		width: 42px;
		height: 25px;
	}

	.header_body_inner .right {
		height: 96px;
		width: 174px;
	}
}




@media only screen and (max-width: 300px) {
	.html_cont {
		font-size: 9px;
		padding: 10px;
		width: 102px;
	}

	.css {
		font-size: 9px;
	}

	.header_body_inner .right #cod {
		width: 89px;
		height: 83px;
	}
	.header_body_inner .title {
		font-size: 16px;
	}
	a.btn {
		padding: 10px 20px;
	}

	.js {
		font-size: 9px;
	}
	.Jq {
		padding: 4px;
		width: 156px;
		height: 157px;
		font-size: 9px;
	}



	.php {
		width: 340px;
		height: 183px;
		font-size: 9px;
	}

	.sql_title {
		font-size: 15px;
	}

	.sql {
		font-size: 9px;
	}

	.js_title {
		font-size: 15px;
	}

	.jQ_title {
		font-size: 15px;	
	}

	.php_title {
		font-size: 15px;
	}

	.css_title {
		font-size: 20px;
	}
}